html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.top_left{
	background: #FF0080;
	height: 8px;
	width: 30px;
	float: left;
}
.top_center1{
	background: #00DB00;
	height: 8px;
	width: 30px;
	float: left;
}
.top_center2{
	background: #2894FF;
	height: 8px;
	width: 30px;
	float: left;

}
.top_right{
	background: Black;
	height: 8px;
	width: 0 auto;
}
.wrap{
	width: 940px;
	margin: 10px auto;
}

.header{
	
}
.content{
	
}

.image1{
	float: left;

}
.box1{
	float: right;

}

.box2{
	float: right;
	/*margin-top: 65px;*/

}

.t1{

}

ul{

	float: right;
	padding: 0px 0px 0px 250px;
	text-align: center;
}
ul li{
	font-size: 20px;
	float: left;
	display: inline;
	zoom: 10px;
	padding: 0px 0px 0px 30px;
}
.clear{
	clear: both;
}
.box3{
	margin-top: 20px;
	margin-bottom: 20px;
}
.left_box{
	float: left;
	
}
.right_box{
	float: left;
	background: #272727;
	padding: 50px;
	width: 200px;
	height: 315px;
}
.t2{
	font-size: 46px;
	float: left;
	margin-bottom: 20px;
}
.t3{
	font-size: 20px;
	line-height:30px;
}
.b1{
	margin-top: 18px;
	width: 140px;
	height: 35px;
	background: #4F4F4F;
	font-size: 18px;
	text-align: center; 
	padding-top: 19px;
}

.box4{
	margin-top: 20px;
	background: #FFFFFF;
	padding: 50px;
	margin-bottom: 20px;
}
.t4{
	font-size: 20px;
	line-height:30px;
}

.box5{
	background: #FFFFFF;
	height: 350px;
	width: 540px;
	padding: 50px;
	font-size: 20px;
	float: left;

}
.h2{
	float: left;
	margin-left: 20px;

	}
.t5{
	margin-bottom: 20px;
	font-size: 27px;

}

.image2{
	float: left;
	margin-right: 20px;
}
.t6{
	margin-bottom: 6px;
	font-weight: bold;
}

.t7{
	width: 300px;
	float: left;

}
.image3{
	float: left;
	margin-right: 20px;
}
.t8{

	margin-top: 20px;
	margin-bottom: 6px;
	font-weight: bold;
}

.box6{
	background: #FFFFFF;
	height: 390px;
	width: 280px;
	padding: 50px 10px 10px 10px;
	font-size: 20px;
	float: right;
}

ol li::before{
	content: "◆";
	color: #0080FF;
  	display: inline-block;
  	width: 1em;
	line-height:15px;
}
.mark{
	line-height:30px;
}
.t9{
	margin-top: 10px;
	margin-bottom: 30px;
	font-size: 27px;
}
.b2{
	margin-top: 15px;
	width: 90px;
	height: 30px;
	background: #E0E0E0;
	font-size: 15px;
	text-align: center; 
	padding-top: 13px;
	font-weight: bold;
}


.footer{
	text-align: center;
	margin-top: 40px;
	margin-bottom: 50px;
	line-height: 30px;
}